<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Коллекция</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css"> </head>

<body>
    <div class="container">
        <div class="hero-white">
            <div class="header clearfix">
                <a href="index.html" class="logo"></a>
                <ul class="menu">
                    <li><a href="/">домой</a></li>
                    <li><a href="/products/" class="active">коллекция</a></li>
                    <li><a href="/contact/">контакты</a></li>
                </ul>
                <a href="#" class="search"></a>
                <a href="#" class="basket"></a>
            </div>
        </div>
        <div class="details">
            <div class="links clearfix">
                <ul class="links-menu">
                    <li><a href="#" class="active">все</a></li>
                    <li><a href="#">женщины</a></li>
                    <li><a href="#">мужчины</a></li>
                    <li><a href="#">дети</a></li>
                    <li><a href="#">о компании</a></li>
                </ul>
            </div>
            <div class="details-products">
                <div class="details-slider">
                    <div class="slider-product"> <img src="/static/img/slider1.jpg"> </div>
                    <div class="slider-control">
                        <div class="block">
                            <a href="#"><img src="/static/img/controll.jpg" alt="">
                                <div class="text"></div>
                            </a>
                        </div>
                        <div class="block">
                            <a href="#"><img src="/static/img/controll1.jpg" alt="">
                                <div class="text"></div>
                            </a>
                        </div>
                        <div class="block">
                            <a href="#"><img src="/static/img/controll2.jpg" alt="">
                                <div class="text"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <h3 class="big-bold">Шерстяной свитер с воротником</h3>
                    <h3 class="red"></h3>
                    <p class="price"> 5,490 <span>руб</span></p> <a href="#" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
                    <div class="description-text">
                        <p>Свитер из шерсти и кашемира. Прямой крой, высокий воротник, длинные рукава, эластичные манжеты, отделка в рубчик и боковые разрезы по низу.</p>
                        <p>Tel. 800 333 7374 / 8 800 333 7374</p>
                        <p>Бесплатная доставка на дом для покупок от 5000 рублей</p>
                        <p>ОПЛАТА: VISA, MasterCard, American Express, MIR</p>
                    </div>
                </div>
            </div>
            <div class="related">
                <div class="title clearfix">
                    <h2></h2> <a class="explore" href="#">показать все <img src="/static/img/arrow.png" alt=""></a> </div>
                <div class="related-products clearfix">
                    <div class="block">
                        <a href="#"><img src="/static/img/product-11.jpg" alt="">
                            <div class="text"> <img src="/static/img/icon-hover.png" alt="img">
                                <h4>Одежда</h4>
                                <p>Купить </p>
                            </div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="/static/img/product-21.jpg" alt="">
                            <div class="text"> <img src="/static/img/icon-hover.png" alt="img">
                                <h4>Сумки</h4>
                                <p>Купить </p>
                            </div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="/static/img/product-31.jpg" alt="">
                            <div class="text"> <img src="/static/img/icon-hover.png" alt="img">
                                <h4>Ремни</h4>
                                <p>Купить </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <div class="footer">
        <div class="clearfix">
            <div class="text-footer">
                <h3>контакты</h3> </div>
            <div class="text-footer">
                <h3>полезная информация</h3> </div>
            <div class="text-footer clearfix">
                <h3>Оставайтесь на связи</h3>
                <p>Подписаться на новости и рассылки</p>
                <form>
                    <input type="email" name="email" placeholder="ваш email"> <a href="#"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a> </form>
            </div>
        </div>
        <p class="small">&copy; 2020</p>
        <div class="social">
            <a href="#" class="social1"></a>
            <a href="#" class="social2"></a>
            <a href="#" class="social3"></a>
            <a href="#" class="social4"></a>
        </div>
        <p class="small">Положения &amp; Условия / Конфиденциальность &amp; Cookies</p>
    </div>
</body>

</html>